body {background-color: lightgreen;}
h1   {color:red;
    font-family: Calibri;
  font-size: 300%;
  font-weight : bold;
  padding : 10px;
  margin : 30px;
  text-align : center;
  height : 15px;
  width : 50%;
  }
p5 {border : 1px solid blue;}
table, td, th {
  border: 1px solid black;
}

#table1 {
  border-collapse: separate;
}
