h1{
    color: red;
    font-family: Calibri;
    font-size: 300%;
    font-weight:bold;
  padding: 20px;
}
h2{
    @extend h1;                        //scss inheritance
    color: purple;
     font-family: Arial; 
}
$mysize : 20px;             //scss variables
$myfont : Times New Roman;
p  {
    font : {
    family: $myfont;         
    size: 160%;
    weight: 900;
    }
    padding: $mysize;
  }
  p.av  {
    font : {                           //scss nesting
    family: $myfont;
    size: 160%;
    weight: 900;
    }
    padding: $mysize;
  }
  table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text : {

    
    align: center;}
  }
  .img{
      margin-left:10px;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
  }
  form{
    padding : 20px;
    font-family: $myfont;
}
.one   {
    padding:0px 200px 0px 300px ;}
.pic{
    padding:0px 0px 0px 500px ;
}
@media  screen and (max-width: 600px){
  body{
    background-color: lightblue;
  }
}
body{
    background-position: center;
    height : 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
ul{
    
        font-family : $myfont;
        font-weight : 900;
    }
ol{
    font-family : $myfont;
    font-weight : 900;
}